<div class="name">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="text-center align-middle">
      <h1 class="m-4"><strong>Karenina Wongsordjo</strong></h1>
      <h2><strong>Full-Stack Web Developer</strong></h2>
      <h4 class="m-4">You can just call me Nina</h4>
    </div>
    <div class="arrow-container">
      <a href="#start">
        <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    width="80px" height="80px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <g>
            <path d="M49.288,59.647c0.383,0.348,0.863,0.519,1.342,0.519c0.076,0,0.151-0.015,0.228-0.023c0.028,0.001,0.057,0.008,0.085,0.008
          c0.545,0,1.088-0.222,1.482-0.657l15.231-16.804c0.742-0.818,0.68-2.083-0.139-2.824c-0.818-0.743-2.083-0.679-2.824,0.139
          L50.656,55.49L35.169,41.453c-0.819-0.744-2.083-0.68-2.824,0.139c-0.742,0.818-0.68,2.083,0.139,2.824L49.288,59.647z"/>
            <path d="M50,83.214c18.449,0,33.458-15.009,33.458-33.457c0-18.449-15.009-33.458-33.458-33.458
          c-18.448,0-33.457,15.009-33.457,33.458C16.543,68.205,31.552,83.214,50,83.214z M50,20.299c16.243,0,29.458,13.215,29.458,29.458
          c0,16.242-13.215,29.457-29.458,29.457c-16.242,0-29.457-13.215-29.457-29.457C20.543,33.514,33.758,20.299,50,20.299z"/>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="container" id="content">
  <div class="about-box" id="start">
    <h3>About me</h3>
    <div class="about">
      <%= image_tag "proffesional_picture_squared" %>
      <div class="about-content">
        <p>Hi, I'm Nina, a eldery care worker currently looking for a new challenge as a full-stack web development.</p>
        <p>I am currently living in Chiba, Japan after graduating with bachelor degree in business administration spesializing in Accounting and Finance. </p>
        <p>Outside of my work, I enjoy reading, listening to music and dancing - albeit not that great at it.</p>
      </div>
    </div>
  </div>
  <h3>Project</h3>
  <div>
    <div class="project-img">
      <h4><a href="https://www.carekey.beauty/" style="text-decoration: none; color:black">Care-key</a></h4>
      <%= image_tag "care-key.png" %>
      <div class="project-content">
        <p>Care Key is your personal companion for self-care and motivation. Care Key is designed to help you take better care of yourself by providing reminders, motivation, and tracking for essential daily tasks such as sleep, nutrition, exercise, and more. With customizable features and a reward system, Care Key makes self-care fun and engaging.</p>
        <p style="font-size: 13px"><em>Warning: the layout is set with phone in mind. Please open only using phone.</em></p>
      </div>
    </div>
    <div class="project-img">
      <h4>Paw Time</h4>
      <%= image_tag "paw-time.png" %>
      <div class="project-content">
        <p>Paw Time is a web application designed to connect animal lovers with shelters, providing a platform for booking time to spend with pets, volunteering in shelters, or exploring adoption opportunities. Whether you're looking to spend quality time with furry friends, lend a helping hand, or find your perfect companion, Paw Time simplifies the process by offering an intuitive booking system.</p>
      </div>
    </div>
  </div>
  <div class="sns">
    <div class="grid text-center m-4 d-flex justify-content-between text-center">
      <button type="button" class="btn g-col-4 align-middle" id="toggle" >
        <a href="mailto:wong.karenina@gmail.com" style="color: black"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </button>
      <button type="button" class=" btn g-col-4 align-middle">
        <a href="https://github.com/AKW9" style="color: black"><i class="fa-brands fa-github fa-xl"></i></a>
      </button>
      <button type="button" class=" btn g-col-4 align-middle">
        <a href="https://www.linkedin.com/in/karenina-wongsordjo-b38501176/" style="color: black"><i class="fa-brands fa-linkedin fa-xl"></i></a>
      </button>
    </div>
  </div>
  <%# <div class="contact-form" id="cf" style="display:none">
  <form action="https://formspree.io/f/meqypekg" method="POST">
    <p class="mt-0"><strong>Name</strong></p>
    <input type="text" name="name" class="pl-2" required />
    <p><strong>Email</strong></p>
    <input type="email" name="email" class="pl-2" required />
    <p><strong>Message</strong></p>
    <textarea name="message" rows="3" cols="20" class="p-2" required></textarea>
    <p><button type="submit" class="btn btn-info mt-3 w-100"><strong>Send</strong></button></p>
  </form>
</div> %>
