<div class="name">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="text-center align-middle">
      <h1 class="m-4"><strong>Karenina Wongsordjo</strong></h1>
      <h2><strong>Full-Stack Web Developer</strong></h2>
      <h4 class="m-4">You can just call me Nina</h4>
    </div>
  </div>
</div>
<div class="arrow-container">
</div>
<div class="container">
  <div>
  </div>
  <div class="grid text-center m-4 d-flex justify-content-between text-center">
    <button type="button" class=" btn g-col-4 align-middle">
      <p class="text"><strong>Email</strong></p>
      <i class="fa-solid fa-envelope fa-xl"></i>
    </button>
    <button type="button" class=" btn g-col-4 align-middle">
      <p class="text"><strong>Github</strong></p>
      <i class="fa-brands fa-github fa-xl"></i>
    </button>
    <button type="button" class=" btn g-col-4 align-middle">
      <p class="text"><strong>Project</strong></p>
      <i class="fa-brands fa-linkedin fa-xl"></i>
    </button>
  </div>
</div>
</header>
