<div class="name">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="text-center align-middle">
      <h1 class="m-4"><strong>Karenina Wongsordjo</strong></h1>
      <h2><strong>Full-Stack Web Developer</strong></h2>
      <h4 class="m-4">You can just call me Nina</h4>
    </div>
<div class="arrow-container">
  <a  href="#content">
  <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="80px" height="80px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<g>
	<path d="M49.288,59.647c0.383,0.348,0.863,0.519,1.342,0.519c0.076,0,0.151-0.015,0.228-0.023c0.028,0.001,0.057,0.008,0.085,0.008
		c0.545,0,1.088-0.222,1.482-0.657l15.231-16.804c0.742-0.818,0.68-2.083-0.139-2.824c-0.818-0.743-2.083-0.679-2.824,0.139
		L50.656,55.49L35.169,41.453c-0.819-0.744-2.083-0.68-2.824,0.139c-0.742,0.818-0.68,2.083,0.139,2.824L49.288,59.647z"/>
	<path d="M50,83.214c18.449,0,33.458-15.009,33.458-33.457c0-18.449-15.009-33.458-33.458-33.458
		c-18.448,0-33.457,15.009-33.457,33.458C16.543,68.205,31.552,83.214,50,83.214z M50,20.299c16.243,0,29.458,13.215,29.458,29.458
		c0,16.242-13.215,29.457-29.458,29.457c-16.242,0-29.457-13.215-29.457-29.457C20.543,33.514,33.758,20.299,50,20.299z"/>
</g>
</svg>
</a>
</div>
  </div>
</div>
<div class="container" id="content">
    <h3 class="text-center">About me</h3>
  <div class="about">
    <p>Hi, I'm Nina, a eldery care worker currently looking for a new challenge as a full-stack web development.</p>
    <p>I am currently living in Chiba, Japan after graduating with bachelor degree in business administration spesializing in Accounting and Finance. </p>
    <p>Outside of my work, I enjoy reading, listening to music and dancing - albeit not that great at it.</p>
  </div>
</div>
<div class="sns">
  <div class="grid text-center m-4 d-flex justify-content-between text-center">
    <button type="button" class=" btn g-col-4 align-middle">
      <p class="text"><strong>Email Me</strong></p>
      <i class="fa-solid fa-envelope fa-xl"></i>
    </button>
    <button type="button" class=" btn g-col-4 align-middle">
      <p class="text"><strong>Github Profile</strong></p>
      <i class="fa-brands fa-github fa-xl"></i>
    </button>
    <button type="button" class=" btn g-col-4 align-middle">
      <p class="text"><strong>LinkedIn</strong></p>
      <i class="fa-brands fa-linkedin fa-xl"></i>
    </button>
  </div>
</div>